*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 6em;
  font-size: 16px;
  background-color: hsl(0, 39%, 45%);
}

p {
  font-size: 1.3em;
  font-weight: 600;
}